<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rail Yatri</title>
    <link rel="icon" type="image/x-icon" href="../static/Bright Colorful Playful Funny Donuts Food Circle Logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
#beta{
width: 50px;
height: 50px;


}


</style>
</head>
    <body>

        
        <iframe width="80%" height="500" style="padding-left: 15%; padding: top 10px;padding-bottom:10px" src="http://www.youtube.com/embed/U44E-hCwXos?autoplay=1&mute=0&controls=1&loop=17f"frameborder='1' allowfullscreen> </iframe>
       
        <div style="background-color: darkgray;">
        <table>
 <tr><th></th><th></th><th></th><th></th><th></th></tr>
            <tr>
                
 
<th colspan="5">
        <span class="card text-bg-secondary mb-3" style="width: 500;">
            <span class="card-header">Amrit Bahrat Yojna</span>
            <span class="card-body">
              <h5 class="card-title">Initaiative By GOI</h5>
         </span>
        </span>
    </span>
    </span>
</th>
</tr>
<tr>
<th></th>
<th></th>

</tr>
</div>
</table>  
<div style="align-content: center;padding-left:40%">
    <a href="https:/www.google.com"> <img id="beta" src="https://img.icons8.com/?size=100&id=V5cGWnc9R4xj&format=png&color=000000">
    </a>
    <a href="https://www.irctc.co.in"> 
     <img id="beta" src="https://img.icons8.com/?size=100&id=Gyog0NkQyHUL&format=png&color=000000">
  </a>
  <a href="https://github.com/Sachin-1120">
     <img id="beta" src="https://img.icons8.com/?size=100&id=iEBcQcM9rnZ9&format=png&color=000000">
  
  </a>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  
</body>
</html>